/**
 *
 * @file
 * This file provides sub-theme styling for this website only.
 *
 * Settings in this file override or supplement anything provided
 * by the parent DWS theme. Changes here should probably be minimal.
 */

#main #content #block-views-galleries-block_1 .node {
  clear: none;
  float: left;
  width: 33%;
}

#main #content #block-views-galleries-block_1 .node-inner {
  border: 1px solid #ccc;
  margin: 0 0.5em 0.5em;
  min-height: 200px;
  text-align: center;
}

#main #content #block-views-galleries-block_1 h2.title {
  font-size: 1.2em;
}

#block-views-video-block_1 .item  {
  border: 1px solid #ccc;
  float: left;
  margin: 0 0.5em 0.5em;
  min-height: 160px;
  padding: 0 0.5em;
  width: 45%;
}

#block-views-video-block_1 h2.title,
#block-views-video-block_1 h3.title,
#block-views-documentation-block_1 h2.title,
#block-views-archives-block_1 h2.title {
  font-size: 1.2em;
}

/**
 * Front page theming.
 */
.front-column {
  float: left;
  font-size: 0.95em;
  width: 33.3%;
}

.front-column-1 {
  padding: 0 1em 0 0;
}

.front-column-1 .view-news {
}

#content-inner .front-column-1 .news-item h2.title {
  font-size: 1.5em;
  padding: 0.5em 0 0;
}

.front-column-2 {
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  padding: 0 1em 0;
}

.front-column-2 .view-productions .form-item {
  margin: 0;
}

#content-inner .front-column-2 .view-content h2.title {
  font-size: 1.5em;
  padding: 0.5em 0 0;
}

.front-column-3 {
  padding: 0 0 0 1em;
}

/**
 * Format archive and documentation nodes.
 */

.node-type-archive .field-field-production,
.node-type-press .field-field-production {
  font-size: 0.9em;
  margin: 0 0 0.5em;
}

.node-type-archive .field-field-author,
.node-type-press .field-field-author {
  font-size: 1.1em;
  font-weight: bold;
  margin: 0 0 0.5em;
}

.node-type-archive .field-field-citation-title,
.node-type-press .field-field-citation-title {
  font-size: 1.1em;
  font-style: italic;
  margin: 0 0 0.5em;
}

.node-type-archive .field-field-citation-pageref,
.node-type-press .field-field-citation-pageref {
  font-size: 1.1em;
  margin: 0 0 1em;
}

/**
 * Format News Nodes.
 */

#content-inner .news-item h2.title {
  font-size: 1.5em;
}

.node-type-news .submitted {
  color: #555;
  font-size: 0.8em;
}

/**
 * Format production nodes.
 */

.field-field-poster img {
  width: 100%;
}

.view-page-awards ul,
.field-field-production-cast ul {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 16px;
}

.view-current-season h3.title {
  font-size: 1.5em;
}

.view-current-season .field {
  font-size: 1.1em;
  margin: 0;
}

.view-current-season .field-field-production-run {
  font-weight: bold;
  margin: 0 0 1em;
}


/**
 *  Format inline reviews
 */

.node-type-production .review {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 4px 4px 3px #bbb;
  -webkit-box-shadow: 4px 4px 3px #bbb;
  margin: 0 0 1em;
  padding: 0.5em 1em;

}

.node-type-production .view-reviews h4 {
  padding: 0.25em 0;
}

/**
 * Format gallery listing.
 */

#content-inner .gallery-grid h2.title {
  font-size: 1.1em;
  padding: 0;
}

.gallery-grid div.content {
  min-height: 260px;
}

.gallery-grid td {
  text-align: center;
  width: 24.9%;
}

/**
 * Format image slideshows.
 */

.production-photo-block {}

.production-photo-block .view-content {
  background: #333;
  min-height: 240px;
  padding: 10px 0 5px;
}

.site-photo-block .view-content {
  margin: 0;
  min-height: 450px;
  padding: 10px 0 5px;
}

.site-photo-block .title {
  color: #777;
  font-size: 1.3em;
  font-style: italic;
  font-weight: bold;
  padding: 0 5px 0.5em 0;
  text-align: right;
}

#views_slideshow_singleframe_main_production_photos-block_1 {
}

#views_slideshow_singleframe_main_production_photos-block_2 {
}

.view-production-photos .views_slideshow_singleframe_teaser_section {
  margin: 0 auto;
}

.view-production-photos .views_slideshow_singleframe_slide {
  text-align: center;
}

.view-production-photos .views-row {}

/**
 * Format recent press view.
 */
.view-recent-press .byline {
  color: #555;
  font-size: 0.8em;
}

/**
 * Hide nested views admin links.
 */
.node-teaser div.view div.views-admin-links {
  display: none;
}

.production-content {
  float: left;
  margin-right: -100%;
  padding: 0;
  width: 100%;
}

.production-content-inner {
  margin-right: 350px;
}

.production-info {
  float: right;
  width: 334px;
}

/**
 * Theme site_manager_courses output.
 */

.site-manager-course-specs {
  margin: 0 0 1em;
}

.site-manager-course-specs label {
  font-weight: bold;
}

/**
 * Format VTL Link block.
 */

#block-block-1 {
  font-size: 11px;
}

#block-block-1 a {
  font-size: 12px;
  font-weight: bold;
}
